* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode Nerd Font SemBd, FontAwesome, sans-serif;
    min-height: 10px;
    font-size: 18px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    /*background: #383c4a; */
    background: #000000;
}

#workspaces button {
    transition: none;
    color: #7c818c;
    background: transparent;
    padding: 6px;
    font-size: 18px;
}

#workspaces button.persistent {
    color: #7c818c;
    font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #ffffff;
    background: #232b2b;
}

#workspaces button.active {
    background: #3b444b;
    color: white;
    border-radius: inherit;
}

#language {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #000000;
}

/* This is currently a TEST */
#custom-timer {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #000000;

}

#submap {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #000000;
}

#clock {
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #000000;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #000000;
    transition: ease 500ms;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
    transition: ease 500ms;
}

#custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #000000;
}

#cpu {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #000000;
}

#temperature {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #000000;
    transition: ease 500ms;
}

#temperature.critical {
    background-color: #eb4d4b;
    transition: ease 500ms;
}

#network {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #000000;
}

#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #000000;
    transition: ease 500ms;
}

#battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
    transition: ease 500ms;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
    transition: ease 500ms;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #000000;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
